<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= city %></p> Where it is currently <%= temperature %>C
<p>Importantly, the maximum temperature today is <%= temp_max %>C</p>

</body>
</html>